{% extends 'old_tpl/base.html' %}
{% load static %}
{% block title %}资产详细{% endblock %}
{% block username %} {{ request.session.username }} {% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            资产详细
            <small>asset info</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
            <li><a href="{% url 'TestApp01:home' %}"><i class="fa fa-dashboard"></i>资产总表</a></li>
            <li class="active">资产详细</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">


            <div class="box-body">

                <form action="{% url 'TestApp01:details' Equipment.Eid %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend><h1>{{ Equipment.Ename }}</h1></legend>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <h4>设备名称</h4><input type="text" value="{{ Equipment.Ename }}" name="Ename" disabled>
                        {% if Equipment.Etype == '1' %}
                            <input type="radio" id="Etype" name="Etype" value="1" checked disabled><i>传感器</i>
                            <input type="radio" id="Etype" name="Etype" value="2" disabled><i>设备</i>
                            <input type="radio" id="Etype" name="Etype" value="3" disabled><i>耗材</i>
                        {% elif Equipment.Etype == '2' %}
                            <input type="radio" id="Etype" name="Etype" value="1" disabled><i>传感器</i>
                            <input type="radio" id="Etype" name="Etype" value="2" checked disabled><i>设备</i>
                            <input type="radio" id="Etype" name="Etype" value="3" disabled><i>耗材</i>
                        {% elif Equipment.Etype == '3' %}
                            <input type="radio" id="Etype" name="Etype" value="1" disabled><i>传感器</i>
                            <input type="radio" id="Etype" name="Etype" value="2" disabled><i>设备</i>
                            <input type="radio" id="Etype" name="Etype" value="3" checked disabled><i>耗材</i>
                        {% else %}
                            <input type="radio" id="Etype" name="Etype" value="1" disabled><i>传感器</i>
                            <input type="radio" id="Etype" name="Etype" value="2" disabled><i>设备</i>
                            <input type="radio" id="Etype" name="Etype" value="3" disabled><i>耗材</i>
                        {% endif %}

                        <h4>资产编号</h4><input type="text" value="{{ Equipment.Eid }}" disabled name="Eid" disabled>
                        <h4>业务线</h4><input type="text" value="{{ Equipment.BorrowProj }}" name="BorrowProj" disabled>
                        <h4>借出人</h4><input type="text" value="{{ Equipment.BorrowPern }}" name="BorrowPern" disabled>
                        <h4>借出时间</h4><input type="date" value="{{ Equipment.BorrowDate }}" name="BorrowTime"
                                                id="BorrowTime" disabled>
                        <h4>库房位置</h4><input type="text" placeholder="{{ Equipment.Location }}" name="Location"
                                                disabled>
                    </fieldset>
                </form>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">借出记录</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="assets_table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>借出时间</th>
                                <th>借出人</th>
                                <th>业务线</th>
                                <th>是否归还</th>
                                <th>归还时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in record %}
                                <tr>
                                    <td>{{ r.OutDate }}</td>
                                    <td>{{ r.UserID }}</td>
                                    <td>{{ r.ProjectName }}</td>
                                    {% if r.State == 1 %}
                                        <td class="text-red text-bold">已借出</td>
                                    {% elif r.State == 0 %}
                                        <td class="text-green text-bold">已归还</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td>{{ r.InDate }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}

{% block script %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endblock %}
