{% extends 'old_tpl/base.html' %}
{% load static %}
{% block title %}资产详细{% endblock %}
{% block username %} {{ request.session.username }} {% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            资产详细
            <small>asset info</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
            <li><a href="{% url 'TestApp01:home' %}"><i class="fa fa-dashboard"></i>资产总表</a></li>
            <li class="active">资产详细</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">


            <div class="box-body">

                <form action="{% url 'TestApp01:giveback' assets.Eid %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend><h1>{{ assets.Ename }}</h1></legend>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <h4>设备名称</h4><input type="text" value="{{ assets.Ename }}" name="Ename" disabled>
                        <h4>资产编号</h4><input type="text" value="{{ assets.Eid }}" name="Eid" disabled>
                        <h4>库房位置</h4><input type="text" value="{{ assets.Location }}" name="Location" disabled>
                        <h4>借出人</h4><input type="text" value="{{ assets.BorrowPern }}" name="BorrowPern" disabled>
                        <h4>业务线</h4><input type="text" value="{{ assets.BorrowProj }}" name="BorrowProj" disabled>
                        <h4>借出时间</h4><input type="date" value="{{ assets.BorrowDate }}" name="BorrowTime"
                                                id="BorrowTime" disabled>
                        <h4>借出码</h4><input type="text" name="form_uuid" placeholder="请输入借出码">
                        <h5>如需帮助请联系仓库管理员</h5>
                    </fieldset>
                    <h4></h4><input type="submit" value="提交">
                </form>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->

{% endblock %}

{% block script %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endblock %}